*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #FFFFFF , #FFF1E5 );
  color: var(--text);
  font-family: "Poppins", sans-serif;
}
.container{
  width: 1320px;
  margin: 0 auto;
}
:root{
  --strong: #77F15E;
  --medium: #3498DB;
  --weak: #F39C12;
  --text: #2C3E50;
  --shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.26);
}

#main{
  padding: 150px 0;
  height: 390px;
}
#main .header{
  text-align: center;
}
#main .header h1{
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 12px;
  animation: glitch 1s ;
}
#main .header p{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 113px;
}
#main .pass-left{
  height: 390px;
  width: 35%;
}

#main .pass-left .img-strong{
  position: relative;
  display: none;
  margin-top: 50px;
}
#main .pass-left .img-strong .flower-left, .flower-right, .icon{
  position: absolute;
}
#main .pass-left .img-strong .flower-left{
  left: -25px;
  bottom: 5px;
  z-index: -1;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-strong .flower-right{
  right: -25px;
  bottom: 5px;
  z-index: -1;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-strong .icon{
  top: 37%;
  left: 45%;
  animation: float 2s infinite ease-in-out;
}
#main .pass-left .img-medium{
  position: relative;
  display: inline-block;
}
#main .pass-left .img-medium .flower-left, .flower-right, .icon{
  position: absolute;
}
#main .pass-left .img-medium .flower-left{
  left: -10px;
  bottom: 34px;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-medium .flower-right{
  right: -10px;
  bottom: 34px;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-medium .icon{
  top: 10%;
  right: 10%;
  animation: float 2s infinite ease-in-out;
}
#main .pass-left .img-weak{
  position: relative;
  display: none;
}
#main .pass-left .img-weak .flower-left, .flower-right, .icon{
  position: absolute;
}
#main .pass-left .img-weak .flower-left{
  left: 0;
  bottom: 5px;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-weak .flower-right{
  right: 0;
  bottom: 5px;
  animation: wave 3s infinite ease-in-out;
}
#main .pass-left .img-weak .icon{
  top: 30%;
  left: 10%;
  animation: float 2s infinite ease-in-out;
}


#main .main-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main .main-wrapper  .top{
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
#main .main-wrapper .pass-result{
  width: 488px;
  box-shadow: var(--shadow);
  font-size: 20px;
  border: 1px solid var(--text);
  height: 55px;
  border-radius: 30px;
  position: relative;
  display: flex;
  padding-left: 20px;
  align-items: center;
  margin-right: 15px;
}
#main .main-wrapper .pass-result .comment{
  position: absolute;
  width: 118px;
  height: 33px;
  color: black;
  font-weight: 500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--medium);
  right: 2%;
  top: 50%;
  transform: translateY(-50%);

}
#main .main-wrapper  .length{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;

}
#main .main-wrapper  .character{
  display: flex;
  align-items: center;
}
#main .main-wrapper  .character label{
  margin-right: 40px;
  margin-left: 10px;
  font-size: 22px;
}
#main .main-wrapper  .character input{
  width: 24px;
  height: 24px;
}
#main .main-wrapper  .character h3{
  margin-right: 50px;
}
#main .main-wrapper button{
  padding: 9px 29px;
  background: transparent;
  border: 1px solid var(--text);
  border-radius: 30px;
  cursor: pointer;
}
#main .main-wrapper  .top button:hover{
  box-shadow: var(--shadow);
}
#main .main-wrapper  .top button svg{
  color: var(--medium);
}
#main .main-wrapper  .length .decrement{
border-radius: 100%;
padding: 5px;
border: 1px solid var(--text);
background: transparent;
cursor: pointer;
}
#main .main-wrapper  .length .increment{
border-radius: 100%;
padding: 5px;
border: 1px solid var(--text);
background: transparent;
cursor: pointer;
}

#main .main-wrapper  .length .length-number{
  padding: 11px 34px ;
  border: 1px solid var(--medium);
  border-radius: 30px;
  font-size: 22px;
}
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  border-radius: 30px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: var(--text);
  cursor: pointer;
}




@keyframes float {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-10px);
  }
  100%{
      transform: translateY(0px);
  }
  
}
@keyframes wave {
  0%{
      transform: translateX(0);
  }
  50%{
      transform: translateX(-10px);
  }
  100%{
      transform: translateX(0px);
  }
  
}


@keyframes glitch {
  50% {
    filter: blur(10px);
    transform: skew(20deg);
  }
  100% {
    filter: blur(0px);
    transform: skew(0deg);
  }
}